.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #ffffff;
}

.header__container {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    height: 60px;
}

.logo svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__list-item:not(:last-child) {
    margin-right: 40px;
}

.hamb {
    position: relative;
    display: none;
    margin-left: 20px;
    cursor: pointer;
}

.hamb div {
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .hamb div:nth-child(2) {
    margin: 10px 0;
} */

.hamb div:nth-child(1) {
    top: 34%;
}

.hamb div:nth-child(3) {
    top: 66%;
}

.hamb,
.header__lang {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 25px;
}

.header__elems {
    display: flex;
    align-items: center;
}

.mainsection {
    height: 100vh;
    max-height: 1080px;
    min-height: 750px;
    background: radial-gradient(44.43% 69.03% at -15.91% -13.1%, #E8FAD4 0%, #51AA90 100%);
}

section {
    position: relative;
}

.header__lang {
    position: relative;
    text-transform: uppercase;
}

.lang {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lang {
    transition: .2s ease-out;
}

.lang__choice {
    pointer-events: none;
    opacity: 0;
}

.header__lang:hover .lang__choice {
    pointer-events: unset;
    opacity: 1;
}

.header__lang:hover .lang__active {
    pointer-events: none;
    opacity: 0;
}

.nav__link {
    transition: .1s linear;
}

.nav__link:hover {
    text-shadow: 0 0 0 #ffffff;
}

.mainsection .container {
    height: 100%;
}

.dust__container {
    position: relative;
    height: 100%;
    padding-top: 110px;
    display: flex;
    flex-direction: column;
}

.dust-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dust-text img {
    width: 1130px;
    height: 720px;
    object-fit: contain;
}

.dust {
    transform: rotate(-25deg);
    width: 365px;
    height: 395px;
    margin: auto;
    animation: rotate 3s linear infinite;
}

.dust-blur {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.dust-blur::before {
    position: absolute;
    content: '';
    width: 500px;
    height: 500px;
    background: #E8FAD4;
    filter: blur(110px);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.shadow-dust {
    position: absolute;
    top: 85%;
    left: 53%;
    transform: translate(-50%, -50%);
    animation: shadowText 3s linear infinite;
    opacity: .5;
}

@keyframes shadowText {
    0% {
        left: 52%;
    }
    50% {
        left: 50%;
    }
    100% {
        left: 52%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-25deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-25deg);
    }
}

.dust-text {
    mix-blend-mode: lighten;
    position: absolute;
}

.dust-text-poro {
    width: 510px;
    height: 390px;
    top: 35%;
    left: 25%;
}

.dust-text-shok {
    width: 460px;
    height: 310px;
    top: 70%;
    left: 73%;
    transform: translate(-50%, -73%);
    z-index: 1;
}

.dust-text img,
.dust img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dust__icons {
    display: flex;
    align-items: center;
}

.dust__elems {
    position: relative;
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dust__icon:nth-child(2) {
    margin: 0 20px;
}

.dust__icon {
    padding: 15px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
}

.dust__icon svg {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.youtube:hover svg path {
    fill: #ff4141;
}

.inst:hover svg path {
    fill: #ff7976;
}

.facebook:hover svg path {
    fill: #636cff;
}

.youtube svg path,
.inst svg path,
.facebook svg path {
    transition: .2s linear;
}

.dust__mouse {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.dust__sertif {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    Padding: 30px 25px;
}

.yellow {
    transition: .2s linear;
}

.dust__sertif:hover .yellow {
    fill: #fffb00;
}

.dust__sertif span {
    margin: 0 10px;
    color: #ffffff;
}

.more__link {
    position: absolute;
    top: 50%;
    left: 0;
    margin: auto 0;
    transform: translateY(-50%) rotate(-90deg);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    transform-origin: 0;
    color: #ffffff;
}

.more__link svg {
    transform: rotate(90deg);
    margin-right: 20px;
    overflow: visible;
}

.arr1,
.arr2,
.arr3 {
    animation: arr1 1s ease-in-out infinite;
}

@keyframes arr1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

.content {
    padding: 75px 0;
}

.desc__container {
    padding: 100px 0;
}

.mainsection {
    margin-bottom: 75px;
}

.desc .content,
.desc__container {
    position: relative;
}

.FinzyDesc {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.desc__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc__info-tabs {
    width: 29%;
}

.desc__info-title {
    display: flex;
    font-family: 'Bebas';
    flex-direction: column;
    font-size: 70px;
    color: #2C866C;
    font-weight: 700;
}

.txt {
    font-size: 18px;
    line-height: 140%;
}

.desc__info-link {
    margin-top: 30px;
}

.yellow-link {
    position: relative;
    display: inline-block;
    padding: 15px 80px;
    font-weight: 500;
    color: #ffffff;
    overflow: hidden;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: .2s ease-in-out;
    background: #ffffff;
}

.yellow-link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FDC92A 3.82%, #FF9802 99.48%);
    z-index: 1;
    transition: .2s ease-in-out;
}

.yellow-link:hover::before {
    opacity: 0;
}

.yellow-link:hover {
    color: #2C866C;
    border: 1px solid #2C866C;
}

.yellow-link span {
    position: relative;
    z-index: 2;
}

.desc__img {
    width: 365px;
    height: 400px;
    animation: rotateDesc 5s ease-in-out infinite;
}

@keyframes rotateDesc {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0);
    }
}

.desc__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.desc__tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.desc__tab-img {
    position: relative;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.desc__tab-img .ye-img {
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s ease-in-out;
}

.desc__tab-img .ye-img {
    opacity: 0;
    transition: .2s ease-in-out;
}

.desc__tab-img .gr-img {
    opacity: 1;
    transition: .2s ease-in-out;
}

.desc__tab-img img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: .2s ease-in-out;
}

.desc__tab.active .desc__tab-img .gr-img {
    opacity: 0;
}

.desc__tab.active .desc__tab-img .ye-img {
    opacity: 1;
}

.desc__tab-text {
    font-size: 16px;
    line-height: 140%;
    margin-left: 20px;
    width: 30%;
    text-transform: uppercase;
    font-weight: 500;
}

.desc__line {
    position: relative;
}

.desc__col {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc__tabs {
    width: 30%;
}

.img-desc,
.wave {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.img-desc {
    top: 0;
}

.wave {
    bottom: 0;
}

.desc__line-wrapper {
    position: relative;
}

.ye-line-box {
    position: absolute;
    top: 0;
}

.ye-line-box img {
    width: 100%;
    height: 100%;
}

.ye-line-1 {
    top: 0;
    left: 0;
}

.ye-line-2 {
    top: 20%;
    left: 15%;
    transform: rotate(23deg);
}

.ye-line-3 {
    top: 40%;
    left: 19%;
    transform: rotate(44deg);
}

.ye-line-4 {
    top: auto;
    bottom: 20%;
    left: 15.5%;
    transform: rotate(60deg);
}

.ye-line-5 {
    top: auto;
    left: 0;
    bottom: 0;
    transform: rotate(83deg);
}

.ye-line-box .ye-line {
    opacity: 0;
}

.ye-line-box::before,
.ye-line-box::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.ye-line-box::before {
    width: 10px;
    height: 10px;
    background: #2C866C;
}

.ye-line-box::after {
    width: 30px;
    height: 30px;
    background: rgba(44, 134, 108, 0.2);
}

.ye-line-1::before,
.ye-line-1::after {
    top: 43%;
    left: 57%;
}

.ye-line-2::before,
.ye-line-2::after {
    top: 36%;
    left: 51%;
}

.ye-line-3::before,
.ye-line-3::after {
    top: 36%;
    left: 50%;
}

.ye-line-4::before,
.ye-line-4::after {
    bottom: 36%;
    left: 65%;
}

.ye-line-5::before,
.ye-line-5::after {
    bottom: 0;
    left: 66%;
}

.desc__tab:nth-child(1) {
    padding-right: 130px;
}

.desc__tab:nth-child(2) {
    padding-right: 20px;
}

.desc__tab:nth-child(4) {
    padding-right: 20px;
}

.desc__tab:nth-child(5) {
    padding-right: 130px;
}

.desc__tab.active .ye-line-box img {
    opacity: 1;
    transition: .2s ease-in-out;
}

.desc__tab.active .ye-line-box::before {
    background: #FDC92A;
    transition: .2s ease-in-out;
}

.desc__tab.active .ye-line-box::after {
    background: rgba(253, 201, 42, 0.2);
    transition: .2s ease-in-out;
}

.desc__tab * {
    pointer-events: none;
}

.desc__info-tab {
    display: none;
}

.desc__info-tab.active {
    display: block;
    animation: showBlock 2s ease-in-out forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bubble {
    position: absolute;
    z-index: -1;
}

.bigbub {
    width: 200px;
    height: 200px;
    animation: shake .5s ease-in-out infinite;
}

.bubble img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.avgbub {
    width: 150px;
    height: 150px;
    animation: shake .8s ease-out infinite;
}

.smallbub {
    width: 100px;
    height: 100px;
    animation: shake 1s ease-out infinite;
}

.desc {
    overflow: hidden;
}

.desc .bigbub {
    top: 40%;
    left: -3%;
}

.desc .avgbub {
    bottom: 5%;
    right: 5%;
}

.desc .smallbub.first {
    top: 0;
    right: 20%;
}

.desc .smallbub.second {
    bottom: 5%;
    left: 20%;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

.application__tabs {
    position: relative;
    display: flex;
    flex-direction: column;
}

.application__tabs-center {
    position: absolute;
    width: 580px;
    height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    overflow: hidden;
}

.application__tab-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}

.application__tab-content.active {
    display: block;
    animation: showBlock 1s linear forwards
}

.application__tab-content img:not[class] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hand-img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    position: absolute;
    bottom: 5%;
    right: 0%;
    animation: hand 2s ease-in-out infinite;
}

@keyframes hand {
    0% {
        bottom: -10%;
        right: -30%;
    }
    50% {
        bottom: 5%;
        right: 0;
    }
    100% {
        bottom: -10%;
        right: -30%;
    }
}

.application__tabs-top {
    margin-bottom: 150px;
}

.application__tabs-bot {
    margin-top: 150px;
}

.application__tab {
    display: flex;
    align-items: center;
}

.app-col {
    display: flex;
    flex-direction: column;
}

.application__tabs-top,
.application__tabs-bot {
    display: flex;
    justify-content: space-between;
}

.application__tab {
    position: relative;
    width: 30%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(44, 134, 108, 0.2);
    border-radius: 20px;
    min-height: 150px;
    cursor: pointer;
}

.appication__container {
    padding: 150px 0;
}

.application__tabs-top .application__tab:nth-child(2),
.application__tabs-bot .application__tab:nth-child(2) {
    flex-direction: row-reverse;
}

.application__tab-img {
    position: relative;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.application__tab-img img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.application__tab-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.application__tabs-top .application__tab:nth-child(1) .application__tab-img,
.application__tabs-bot .application__tab:nth-child(1) .application__tab-img {
    margin-right: 20px;
}

.application__tabs-top .application__tab:nth-child(2) .application__tab-img,
.application__tabs-bot .application__tab:nth-child(2) .application__tab-img {
    margin-left: 20px;
}

.application__title {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
}

.application__text {
    font-size: 18px;
    line-height: 140%;
}

.application__tabs-top .application__tab svg,
.application__tabs-bot .application__tab svg {
    position: absolute;
    width: 150%;
    filter: drop-shadow( -5px 5px 5px rgba(0, 0, 0, .1));
}

.application__tabs-top .application__tab:nth-child(1) svg {
    transform: rotate(180deg);
    top: -98px;
    left: -2.5%;
}

.application__tabs-top .application__tab:nth-child(2) svg {
    transform: rotateX(180deg);
    top: -99px;
    left: -47%;
}

.application__tabs-bot .application__tab:nth-child(1) svg {
    transform: rotateY(180deg);
    left: -2.5%;
    bottom: -99px;
}

.application__tabs-bot .application__tab:nth-child(2) svg {
    left: -47%;
    bottom: -99px;
}

.application__tab.active {
    background: #faa930;
    box-shadow: 0;
    color: #ffffff;
}

.application__tab svg path {
    fill: #ffffff;
}

.application__tab.active svg path {
    fill: #faa930;
    filter: drop-shadow( 0px 0px 0px rgba(255, 255, 255, 0));
}

.application__tab.active .application__tab-img img:nth-child(1) {
    opacity: 0;
}

.application__tab.active .application__tab-img img:nth-child(2) {
    opacity: 1;
}

.application__tab,
.application__tab .application__tab-img img:nth-child(2),
.application__tab .application__tab-img img:nth-child(1),
.application__tab svg path {
    transition: .2s ease-in-out;
}

.application__tab * {
    pointer-events: none;
}

.first-word,
.sec-word {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.first-word {
    left: 2%
}

.sec-word {
    right: 2%;
}

.clearfix {
    width: 100%;
    height: 100%;
}

.clearfix img {
    position: absolute;
}

.image-54 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    top: 0;
    z-index: -4;
}

.image-55 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    bottom: 0;
    z-index: -2;
}

.image-56 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.image-57 {
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: -4;
    bottom: 0;
    z-index: -1;
    animation: widthLeftWave 15s linear infinite;
    opacity: .5;
}

.image-58 {
    width: 100%;
    height: 50%;
    left: 0%;
    bottom: 0;
    animation: widthWave 10s linear infinite;
    opacity: .5;
}

@keyframes widthWave {
    0% {
        width: 100%;
    }
    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes widthLeftWave {
    0% {
        left: 50%;
        width: 160%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 50%;
        width: 160%;
    }
}

.image-64 {
    width: 20%;
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: -250px;
    animation: paper 5s linear infinite;
    z-index: -3;
}

@keyframes paper {
    0% {
        top: -250px;
    }
    80% {
        opacity: .7;
    }
    90% {
        opacity: .5;
    }
    95% {
        opacity: .3;
    }
    100% {
        top: 60%;
        opacity: 0;
    }
}

.img-wrapper-59 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.img-wrapper-59 .image-59 {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100%;
    top: -250px;
    object-fit: contain;
    margin: 0 auto;
    animation: topRightDust 5s linear infinite;
}

@keyframes topRightDust {
    0% {
        top: -800px;
        opacity: 1;
    }
    50% {
        opacity: .9;
    }
    80% {
        opacity: .8;
    }
    100% {
        top: 100px;
        opacity: .0;
    }
}


/* .img-wrapper-59 .image-60 {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100%;
    top: -250px;
    object-fit: contain;
    margin: 0 auto;
    animation: topLeftDust 5s linear infinite;
}

@keyframes topLeftDust {
    0% {
        top: -600px;
        opacity: 1;
    }
    50% {
        opacity: .9;
        left: 45%;
    }
    80% {
        opacity: .8;
        left: 40%;
    }
    100% {
        top: 150px;
        opacity: .0;
        left: 40%;
    }
} */

.image-65 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.image-66 {
    z-index: 2;
    top: 0;
    left: 0;
}

.image-67 {
    right: 0;
    top: 20%;
}

.image-66,
.image-67 {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: contain;
    animation: shake 10s linear infinite;
}

.image-68 {
    z-index: 2;
    top: 4%;
    left: -3%;
    z-index: -1;
}

.image-69 {
    right: -3%;
    top: 24%;
    z-index: -1;
}

.image-68,
.image-69 {
    position: absolute;
    width: 80%;
    height: 80%;
    object-fit: contain;
    animation: shake 10s linear infinite;
}

.image-70,
.image-71 {
    position: absolute;
    object-fit: contain;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.image-72 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 1;
    animation: topHand 4s linear infinite;
}

@keyframes topHand {
    0% {
        top: 80%;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 80%;
    }
}

.image-73 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.buy__items {
    display: flex;
    justify-content: flex-start;
    column-gap: 1.33%;
}

.buy__item:nth-child(1) img {
    width: 150px;
    height: 160px;
    object-fit: contain;
}

.buy__item {
    width: 24%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 20px;
}

.buy__item:not(:first-child, :last-child) {
    box-shadow: 0px 0px 30px rgba(44, 134, 108, 0.2);
    padding: 20px;
    width: 18%;
}

.buy__item-row {
    display: flex;
    align-items: center;
}

.buy-header {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: contain;
    left: 5%;
    top: -100%;
}

.buy__item-title {
    position: relative;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: right;
    font-family: 'Bebas';
}

.buy__container {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.buy__item.busket {
    align-items: center;
}

.buy__item-row:not(:last-child) {
    margin-bottom: 15px;
}

.buy__item-row img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 20px;
}

.buy__item-row {
    font-size: 16px;
    line-height: 130%;
}

.application__tabs-bot {
    padding-bottom: 100px;
}